.hero-area {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../../photo/111.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px #333;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px #333;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #ff5e62;
    border-radius: 30px;
    margin-top: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-shadow: 2px 2px #333;
    box-shadow: 2px 2px #333;
}

.cta-button:hover {
    background-color: #ff9966;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
