
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Define color variables */
  :root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-color: #212529;
    --background-color: #f8f9fa;
  }
.post-section {
    display: flex;
    flex-wrap: wrap;
  }
 
  .post-container {
    
    width: 30%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
  }
  
  .post-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .post-img img {
    width: 100%;
    object-fit: cover;
  }
  
  .post-content {
    padding: 20px;
  }
  
  .post-content h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .post-content p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  
  .post-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid #e9ecef;
  }
  
  .post-button a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
  }
  
  .post-button a:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
  }

/*  category css */
  .category-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-container {
    width: 30%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 15px;
  }
  
  .category-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--secondary-color);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .main-container {
    display :grid;
 grid-template-columns: 60% 40%;
 margin-top: 30px;
  }
  /* .left-section {
    width: 70%;
    float: left;

  }
  .right-section {
  width: 30%;
  float: right;

} */
