.user-photo-name-container {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;

}

.post {
    margin-bottom: 80px;
    height: 80%;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}

.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-name {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    
    color: #007bff;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    display: flex;
    float: right;
}

/* .kcontainer {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
   
} */


.user-posts-section {
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
   
}


.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    
}

.post-content {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #444;
}

.post-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.edit-button,
.delete-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    border: none;

    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.edit-button {
    background-color: transparent;
    color: #fff;
}


.delete-button {
    background-color: transparent;
    color: #fff;
}

.edit-button:hover {
    color: #ff9966;

}

.delete-button:hover {
    color: #ff5e62;

}

.user-info {
    margin: 20px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;

}

.user-info p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.mc {
    display: grid;
    grid-template-columns: 70% 28%;
    margin-top: 10px;

}




.add-post-btn {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.add-post-btn:hover {
    background-color: #0069d9;
}