.footer {
    margin: 100px 200px 20px 200px;
}
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .left {
            display: flex;
            align-items: center;
            color: gray;
        }

        .copyright {
           margin-left: 20px ;
           font-size: 12px;
           color: gray;
        }

        .right {
            display: flex;
            align-items: center;
        }

