
.card-xd{

    width: 80%;
    box-shadow: 0 0 15px 8px rgb(202, 201, 201);
    margin-top: 25px;

    .image{
        width: 100%;

        img{
                max-width: 100%;
        }
    }

    .text{
        padding : 10px 20px; 
        
        .description{
            padding: 10px 0px;
            
        }
        .button {
                text-decoration: none;
                color:rgb(93, 102, 228);
                display: block;
                margin-bottom: 15px;
        }

    }
}
.card-xd:hover{
    box-shadow: 0 0 25px 10px rgb(188, 186, 186);

    }