body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    color: #444;
  }
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    margin-bottom: 400px;
  }
  
  .l-form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .l-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .l-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: linear-gradient(to right, #ff5e62, #ff9966); /* gradient background color */    color: #fff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .l-form button:hover,.l-form button:active,.l-form button:focus {
    background: linear-gradient(to left, #ff5e62, #ff9966); /* gradient background color */    color: #fff;
  }
  
  .l-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .l-form .message a {
    color: #ff9966;
    text-decoration: none;
  }
  
  .l-form .register-form {
    display: none;
  }

