 
  /* Form styling */
  .form {
    max-width: 600px;
    margin-top: 130px ;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 300px;
  }
  
  /* Input and label styling */
  input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
  
    /* Submit button styling */
  .form input[type="submit"] {

    background: linear-gradient(to right, #ff5e62, #ff9966);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display:block;
  }
 