@import "~bootstrap/scss/bootstrap";

.post{
    background-color: antiquewhite;
    margin-bottom: 10px;
    .link{
        color: inherit;
        text-decoration: none;
        background-color: aquamarine;
    }
   
}