
  .h1 {
    color:  #ff5e62;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;

    
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  

  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
}
  
  .about-card {
      background-color:white;
      padding:20px;
      border-radius:5px;
      box-shadow: 0px 0px 10px #ccc;
      margin-bottom:20px;
  }
  
  